@inject IStringLocalizer<App> localizer
@using Microsoft.Extensions.Localization
@using SharedModels

<div class="container profile_item">

    @if (UseHorizontalTable == false && (ExternalAliases?.Any() ?? false))
    {
        if (IgnoreHeaders == false)
        {
            <div class="row">
                <div class="col">@localizer["Site"]</div>
                <div class="col">@localizer["Link"]</div>
            </div>
        }
        @foreach (var item in (ExternalAliases ?? new ExternalLink[] { }))
        {
            <div class="row">
                <div class="col small_logo_title_h">@item.Title</div>
                <div class="col">
                    <ImageView Value=@item.Logo
                               OpenInNewTab="true"
                               ContainerClassName="small_logo_container"
                               ImgClassName="small_logo fas fa-lg"
                               LinkClassName="small_logo_link" />
                </div>
            </div>
        }
    }
    else if ((ExternalAliases?.Any() ?? false))
    {
        if (IgnoreHeaders == false)
        {

            <div class="row">
                @foreach (var item in (ExternalAliases ?? new ExternalLink[] { }))
                {
                    <div class="col small_logo_title_v">@item.Title</div>
                }
            </div>
        }

        <div class="row">
            @foreach (var item in (ExternalAliases ?? new ExternalLink[] { }))
            {
                <div class="col-">
                    <ImageView Value=@item.Logo
                               OpenInNewTab="true"
                               ContainerClassName="small_logo_container"
                               ImgClassName="small_logo fas fa-lg"
                               LinkClassName="small_logo_link" />
                </div>
            }
        </div>
    }
    else
    {
        <p>No links</p>
    }
</div>

@code {
    [Parameter]
    public SharedModels.ExternalLink[] ExternalAliases { get; set; }

    [Parameter]
    public bool UseHorizontalTable { get; set; }

    [Parameter]
    public bool IgnoreHeaders { get; set; }
}