@inherits LayoutComponentBase

<HomePage.Shared.PageComponents.NavBar />

<div class="outer_border">
    <div class="custom_content">
        @Body
    </div>
</div>

<HomePage.Shared.PageComponents.CustomFooter />