@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
.hyperlink-viewbox {
  background: whitesmoke;
  padding: 7px;
  padding-left: 20px; }

.dark a {
  color: darkblue; }

.dark a:hover {
  color: lightblue; }

.dark body {
  margin: 20px;
  color: #F8F5F4;
  background-color: #22223B; }

.dark table {
  color: #F8F5F4; }

.dark th {
  color: #F8F5F4; }

.dark td {
  color: #F8F5F4; }

.dark .project-viewbox-subbox {
  padding: 10px;
  border: 2px solid #4a4e69; }

.dark .custom_nav {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
  float: left;
  min-height: 50px;
  background-color: #9A8C98;
  border: 1px solid #4a4e69; }

.dark .custom_nav button {
  margin: 0;
  display: block;
  float: left;
  width: 200px; }

.dark .outerContainer {
  margin: 0px 0px 0px 10px;
  padding: 20px; }
  .dark .outerContainer hr {
    border: 1px solid #F8F5F4; }

.dark .outer_border {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  display: block;
  float: left;
  background-color: #4a4e69;
  border: 1px solid #4a4e69; }

.dark .custom_content {
  width: 99%;
  margin: 0.5%;
  display: block;
  float: left;
  background-color: #9A8C98;
  border: 1px solid #4a4e69; }

.dark .custom_footer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  display: block;
  padding: 10px;
  margin-bottom: 1em;
  float: left;
  background-color: #9A8C98;
  border: 1px solid #4a4e69; }

.dark .imageContainer {
  padding: 20px;
  border: 3px solid #4a4e69; }

.dark .theme_button {
  background-color: #9A8C98; }

.light a {
  color: darkblue; }

.light a:hover {
  color: lightblue; }

.light table {
  color: #454545; }

.light th {
  color: #454545; }

.light td {
  color: #454545; }

.light body {
  margin: 20px;
  color: #454545;
  background-color: #BFDBF7; }

.light .custom_nav {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
  float: left;
  min-height: 50px;
  background-color: #E1E5F2;
  border: 1px solid #022B3A; }

.light .custom_nav button {
  margin: 0;
  display: block;
  float: left;
  width: 200px; }

.light .outer_border {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  display: block;
  float: left;
  background-color: #022B3A;
  border: 1px solid #022B3A; }

.light .custom_content {
  width: 99%;
  margin: 0.5%;
  display: block;
  float: left;
  background-color: #E1E5F2;
  border: 1px solid #022B3A; }

.light .custom_footer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  display: block;
  padding: 10px;
  margin-bottom: 1em;
  float: left;
  background-color: #E1E5F2;
  border: 1px solid #022B3A; }

.light .outerContainer {
  margin: 0px 0px 0px 10px;
  padding: 20px; }
  .light .outerContainer hr {
    border: 1px solid #454545; }

.light .project-viewbox-subbox {
  padding: 10px;
  border: 2px solid #022B3A; }

.light .imageContainer {
  padding: 20px;
  border: 3px solid #022B3A; }

.light .theme_button {
  background-color: #E1E5F2; }

.button-header-row span {
  margin-right: 20px; }

.project-construct-carousel {
  max-width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px; }

.navbarButtons span:hover {
  color: lightblue; }

.cFloatMiddle {
  margin-top: auto;
  margin-bottom: auto;
  margin: 1px; }

.td_first {
  width: 200px; }

h2 {
  text-size-adjust: auto; }

.project-construct-row {
  margin-bottom: 20px; }
  .project-construct-row table {
    max-height: 200px; }

.project-viewbox {
  width: 65%;
  float: left; }
  .project-viewbox .row {
    margin-bottom: 20px; }

.edutableHeaderRow {
  border-bottom: 1px solid #4a4e69; }
  .edutableHeaderRow td {
    border-right: 1px solid #4a4e69;
    padding-left: 5px;
    font-weight: bold; }

.edutableBorderRow td {
  padding-left: 5px;
  border-right: 1px solid #4a4e69; }

.navbarLanguageSelection {
  display: block;
  float: right; }

.locale_select {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 120px;
  align-self: center;
  display: flex; }

.profile_img {
  width: 100%;
  margin: auto;
  float: left;
  height: auto;
  padding: 0;
  display: block; }

.small_logo {
  width: 50px;
  height: 50px;
  color: darkblue; }

.small_logo:hover {
  color: lightblue; }

.profileBox h1 {
  width: 100%; }

.profileBox h2 {
  width: 100%; }

.profileBox .container {
  margin-bottom: 10px; }

.custom-column .row {
  margin-bottom: 20px; }

.small_logo_container {
  align-self: center;
  display: block; }

.small_logo_link {
  font-size: 50px; }

.small_logo_title_v {
  text-align: center;
  font-display: block; }

.profile_item {
  margin-bottom: 3em; }

.education_row {
  margin-bottom: 20px; }

.eduTable td {
  padding-right: 2em; }

.row_header {
  font-weight: bold; }
