@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
.dark body {
  margin: 20px;
  color: #e0fbfc;
  background-color: #1f1f1f; }

.dark .custom_nav {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
  float: left;
  background-color: #5c6b73; }

.dark .custom_nav button {
  margin: 0;
  display: block;
  float: left;
  width: 200px;
  background-color: #c2dfe3; }

.dark .custom_content {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  padding-top: 1.5em;
  display: block;
  float: left;
  background-color: #5c6b73;
  border: 1px solid #1f1f1f; }

.dark .custom_footer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  display: block;
  padding: 10px;
  margin-bottom: 1em;
  float: left;
  background-color: #5c6b73;
  border: 1px solid #1f1f1f; }

.dark .theme_button {
  background-color: #5c6b73; }

.light body {
  margin: 20px;
  color: #1f1f1f;
  background-color: #ffffff; }

.light .custom_nav {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
  float: left;
  background-color: #5c6b73; }

.light .custom_nav button {
  margin: 0;
  display: block;
  float: left;
  width: 200px;
  background-color: #c2dfe3; }

.light .custom_content {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  padding-top: 1.5em;
  display: block;
  float: left;
  background-color: #c2dfe3;
  border: 1px solid #1f1f1f; }

.light .custom_footer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  display: block;
  padding: 10px;
  margin-bottom: 1em;
  float: left;
  background-color: #c2dfe3;
  border: 1px solid #1f1f1f; }

.light .theme_button {
  background-color: #c2dfe3; }

h2 {
  text-size-adjust: auto; }

.locale_select {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 200px;
  align-self: center;
  display: flex; }

.profile_img {
  width: 100%;
  margin: auto;
  float: left;
  height: auto;
  padding: 0;
  display: block; }

.small_logo {
  width: 50px;
  height: 50px;
  color: darkcyan; }

.small_logo:hover {
  color: darkblue; }

.small_logo_container {
  align-self: center;
  display: block; }

.small_logo_link {
  font-size: 50px; }

.small_logo_title_v {
  text-align: center;
  font-display: block; }

.profile_item {
  margin-bottom: 3em; }

.education_row {
  margin-bottom: 20px; }

.row_header {
  font-weight: bold; }
